* {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: rgb(168, 245, 168);
}
.logo {
  font-style: italic;
  font-size: 1.8em;
}
.nav-links {
  display: flex;
  font-size: 1.1rem;
  gap: 0 3em;
  position: relative;
}
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: green;
  transform-origin: left;
  transition: width 0.3s ease;
}
.nav-links li:hover::after {
  width: 100%;
}

li {
  transition: all 0.2s ease;
  list-style: none;
}
li:hover {
  color: rgb(0, 86, 0);
  transform: scale(1.1);
}
.sign-in {
  padding: 1rem;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.sign-in:hover {
  border: 2px solid green;
  border-radius: 5px;
  background-color: green;
  color: white;
}
.nav-icon,
.icon {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

main {
  display: flex;
}
.side-bar {
  background-color: rgb(168, 245, 168);
  display: flex;
  flex: 0 0 220px;
  flex-direction: column;
  align-items: start;
}
.title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar-title {
  font-style: italic;
  margin: 2em 0 0 3em;
  border-bottom: 2px solid green;
  text-align: center;
}
.list-of-books {
  font-size: 1.1em;
  margin: 1em 0em 0 1em;
  line-height: 4em;
  margin: 0 auto;
}
.list-of-books li:hover {
  border-bottom: 2px solid green;
}

.heading {
  font-style: italic;
  color: green;
  margin: 1.4em;
  text-align: center;
}
.container {
  display: flex;
}
.gallery {
  margin: 1.2em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
  gap: 3em;
}

.gallery-item {
  height: fit-content;
  width: 200px;
  padding: 0.4em;
  border: 2px solid green;
  border-radius: 4px;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.img-box img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;
}
.back {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 128, 0, 0.75);
  color: white;
  padding: 1em;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.img-box:hover .back {
  transform: translateY(0);
}

.img-box:hover img {
  opacity: 0.3;
}
.btn {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.7em;
  margin-top: 10px;
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: green;
  color: white;
}

.side-page {
  flex: 2;
  background-color: rgb(200, 199, 199);
  border-radius: 10px;
  position: relative;
  padding: 20px;
  height: 100vh;
}
.close {
  float: right;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.borrow-heading{
  font-style: italic;
  text-align: center;
  color: green;
  width: fit-content;
  margin: 0 auto;
  border-bottom:2px solid green;
}
.borrow-img{
  display: inline-block;
  margin: 30px;
  margin-left: 150px;

}



/* .borrow {
  margin: 2em auto;
  width: 80vw;
  height: auto;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: lightgreen;
} */

/* Centering wrapper used on form.html to center the borrow card */
/* .form-page {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}
.card {
  border: 2px solid green;
  padding: 5em 1em;
  border-radius: 10px;
}
.bookImg {
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 270px;
  object-fit: contain;
}
.bookDesc {
  margin: 1em;
} */
/* form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: rgb(214, 213, 213);
  padding: 5em;
  border-radius: 1.5em;
}
form h2 {
  color: Green;
  border-bottom: 2px solid green;
}

input[type="text"],
input[type="email"] {
  padding: 1em;
  border: 2px solid black;
  border-radius: 5px;
}
button,
.return {
  padding: 0.7em;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.return {
  display: block;
  border: 2px solid black;
  background-color: #efefef;
  text-decoration: none;
  color: black;
} */
button:hover,
.return:hover {
  background-color: green;
  color: white;
}

@media (max-width: 500px) {
  .list-of-books,
  .nav-links {
    display: none;
  }
  .list-of-books.show {
    display: block;
  }
  .icon,
  .nav-icon {
    display: block;
    margin-right: 10px;
    color: green;
  }
  .nav-icon {
    position: relative;
    left: 25px;
  }
  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    background-color: rgb(168, 245, 168);
    padding: 1em 0;
    gap: 1em;
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  .side-bar {
    flex: none;
    width: 100%;
    align-items: center;
    border-top: 2px solid rgb(0, 93, 0);
  }
  .side-bar-title {
    margin-bottom: 30px;
  }
  form {
    padding: 3em;
  }
  .sign-in {
    padding: 0.4rem;
  }
}

.site-footer {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f3f3f3;
  color: #333;
  border-top: 1px solid #e0e0e0;
  font-size: 0.95rem;
}
